              /* Header information*/

.header {
  display: flex;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  border-color: black;
  background-color: white;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-top: 0;
  justify-content: space-between;
}

.logo {
  display: inline-flex;
  align-items: center;
  width: 50%
  border: 1 px solid black;
  margin-left: 20px;
}

.logo span {
  color: MediumAquamarine;
}

.navigation {
  display: inline-flex;
  align-items: center;
}

.navigation a {
  color: black;
}

.navigation span {
  display: inline-block;
  padding: 20px 10px;
}
                /*Body information*/

div {
  display: block;
}

.flex-container {
  display: flex;
}
.column {
  display:flex;
  flex-direction: column;
  margin-right: 32px;
}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

          /*Photographs*/

.mothertuna {
  display: flex;
  background-image: url("../MainStory.png");
  width: 630px;
  height: 300px;
  color: white;
  font-family: Georgia;
  font-weight: bold;
  text-align: left;
  margin-top: 100px;
}

.stories {
  display: flex;
}
.Earthspins {
  display: block;
  background-image: url("../FallSeason.png");
  height: 300px;
  width: 300px;
  text-align: center;
}

.camera {
  display: block;
  background-image: url("../HipsterCameraman.png");
  height: 300px;
  width: 300px;
  text-align: center;
}
.Orca {
  display: block;
  width: 300px;
}

.Burger {
  display: block;
  width: 300px;
}

.cats {
  display: flex;
  background-image: url("../CatCEO.png");
  height: 300px;
  width: 300px;
  text-align: center;
}

.FBI {
  margin-top: 100px;
}

.Cookie {
  margin-top: 100px;
}

    /*Text styles*/

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.mothertuna span {
  font-size: 40px;
}

h4 .NewsBites{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
