              /* Header information*/

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  border-color: black;
  background-color: white;
  align-items: center
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  justify-content: space-between;
}

.logo {
  display: inline-flex;
  align-items: center;
  width: 50%
  border: 1 px solid black;
}

.logo span {
  color: MediumAquamarine;
}

.navigation {
  display: inline-flex;
  align-items: center;
  border: 1px solid black;
}

.navigation a {
  color: black;
}

.navigation span {
  display: inline-block;
  padding: 20px 10px;
}
                /*Body information*/



div {
  border: 1px solid black;
}
.column {
  display:flex;
  flex-direction: column;
  margin-right: 32px;
}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
